body {
    margin:0;
    padding:0;
    background:black;
    color:white;
    font-family: 'Rubik', sans-serif;
   }

.matrix-ad {
    font-size:40px;
    display:block;
    overflow-wrap: break-word;
    text-align:center;
    line-height:100px;
    height:100px;
    margin-top:40vh;
    text-transform:uppercase;
    letter-spacing:10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.footer { 
    position: relative;
    margin-top:20vh;
    width: 100%;
    border-top: 1px solid #272727;
}

.footer_nav {
    margin-left: auto;
    margin-right: auto;
    max-width:1170px;
    width:90%;
}

@media only screen and (max-width:490px){
    .matrix-ad{
        font-size: 8vw;
    }

    .footer {
        font-size:6vw;
    }
}

.footer_slogan {
    color: #9b9b9b;
    font-size:12px;
    line-height:12px;
    margin: 0 0 35px;
    width: 140px;
}

.footer_legal {
    clear: both;
    color: #9b9b9b;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 25px;
    width: 100%;
    font-size:12px;
}

@media screen and(min-width:1040px){
    .footer-legal {
        border-top:0;
        margin-top:0;
        padding-top:35px;
    }
}
